*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #ffffff;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:#5a93e9;
   
}
#card{
    position: relative;
    border-radius: 2.5%;
    height: 430px;
    width: 290px;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
}
#storiyan{
    height: 100px;
    width: 100%;
   border-bottom: 1px solid #dadada;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    margin: 10px;
    height: 75px;
    width: 75px;
    border: 2.5px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    position: absolute;
    display: none;
}
