*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:#000000;
}
.cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}
h1{
    color: #fff;
    font-size: 9vw;
    font-weight: 900;
}
